* {
    margin: 0;
    padding: 0;
    display: border-box;
}

body {
    background-color: #0f0100;
    color: white;
}

#defaultCanvas0, #gameOver, #highScore {
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
}

#defaultCanvas0 {
    top: 25%;
    left: 25%;
}

#gameOver{
    display: none;
    width: 25%;
    height: 25%;    
    top: 15%;
    left: 37%;
}

#highScore {
    width: 25%;
    height: 25%;
    top: 75%;
    left: 37%;
}